<!DOCTYPE html>
	<html>
	<head>
		<title>MediSyst</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script
	src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		

	</head>
	<body>
	    
	    <nav class="navbar navbar-expand-lg navbar-light bg fixed-top">
	        <div class="container">
  <a class="navbar-brand head2" href="/">MediSyst</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav justify-content-end">
          <li class="nav-item">
        <a class="nav-link link1" href={{url}}>Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link link1" href=#>Add Patient </a>
      </li>
      <li class="nav-item">
        <a class="nav-link link1" href="/">Log out</a>
      </li>
      
      </ul>
    
  </div>
  </div>
</nav>

<div class="container">
    <br>
<br>
<br>
<h1>{{patient['name']}}</h1>
   {% if patient['history']=="None" %}
    <div class="header">
        <div class="row header">
            <div class="col-md-6">
                <div class="j1">
                <h1><p align="center">No History</p></h1>
                <p align="center">Well done Doctor! Your patient has no past medical record</p>
                <p align="center">
				<a class="btn btn1 btn-lg" href={{addurl}} role="button">Add Patients</a>
			</p>
            </div></div>
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='thumbsup.jpg') }}" style="height:85%; margin-left:35%" class="img-fluid">
            </div>
        </div>
    </div>
{% else %}
    <table class="table">
  <thead  class="thead-dark">
    <tr>
      <th scope="col">Doctor Name</th>
      <th scope="col">Disease Name</th>
      <th scope="col">Disease Prof Number</th>
      <th scope="col">Date </th>
      <th scope="col">Treatment </th>
    </tr>
  </thead>
    {% for i in patient['history']%}
    <tr>
        
        <td>{{ i['docname'] }}</td>
        <td>{{ i['name'] }}</td>
        <td>{{ i['profname'] }}</td>
        <td>{{ i['date'] }}</td>
        <td>{{ i['treatment'] }}</td>
        </tr>
    {% endfor %}
</table>
{% endif %}
<hr>
<h4> <p align="center" >Add History</p></h4>
<form action="/history" method="post">
    <div class="form-group" >
    <label for="exampleInputEmail1">Doctor Name</label>
    <input type="text" class="form-control" name="docname" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Name">
    
  </div>
  <div class="form-group" >
    <label for="exampleInputEmail1">Disease Name</label>
    <input type="text" class="form-control" name="name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Last Name">
    
  </div>

  <div class="form-group" >
    <label for="exampleInputEmail1">Prof Name</label>
    <input type="text" class="form-control" name="profname" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Last Name">
    
  </div>
  <div class="form-group" >
    <label for="exampleInputEmail1">Date</label>
    <input type="text" class="form-control" name="date" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Last Name">
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Treatment</label>
    <input type="text" name="treatment" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
	<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
		
    </body>
</html>