<!DOCTYPE html>
	<html>
	<head>
		<title>MediSyst</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script
	src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		

	</head>
	<body>
	    
	    <nav class="navbar navbar-expand-lg navbar-light bg fixed-top">
	        <div class="container">
  <a class="navbar-brand head2" href="/">MediSyst</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link link1" href="/signin">Login </a>
      </li>
      <li class="nav-item">
        <a class="nav-link link1" href="/register">Signup </a>
      </li>
      
      </ul>
    
  </div>
  </div>
</nav>
<br>
<div class="container">
    <div class="header">
        <div class="row header">
            <div class="col-md-6">
                <div class="j1">
                <h1><p align="center">Medical Assistant</p></h1>
                <p align="center">Medisyst World is your one stop destination for your Medical Needs. All your medical data is preserved with us to be used only when you want it to be accessed .It's a medical vault. Along with preserving your data we
                also provide the initial diagnosis along with severity of the condition.</p>
                <p align="center" class="lead">
				<a class="btn btn1 btn-lg" href="#" role="button">Diagnostic Center</a>
				<a class="btn btn1 btn-lg" href="#" role="button">Unified HealthCare</a>
			</p>
            </div></div>
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='cartoon.png') }}" style="height:85%; margin-left:35%" class="img-fluid">
            </div>
        </div>
    </div>
    <h1><p align="center">Explore the World of MediSyst</p></h1>
    <div class="row ">
            
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='checklist.jpg') }}" style="height:85%;" class="img-fluid">
            </div>
            <div class="col-md-6">
                <div class="j1">
                <h1><p align="center">Symptoms analysis</p></h1>
                <p align="center">Most of us are unaware of the n number of diseases in our body and ignore them most of the time. Now you can check all your issues and their treatment with just few clicks.
                Click below link to enter the world of medisyst</p>
                <p align="center" class="lead">
				<a class="btn btn1 btn-lg" href="#" role="button">Diagnostic Center</a>
			</p>
            </div></div>
        </div>
    </div>
</div>

	    
	<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
		
    </body>
</html>